.title-about-underline {
    width: 8%;
    border-bottom: #002C5F 3px solid;
    margin: 0 auto;
}

.about-paragraph {
    margin-top: 44px;
}

.about-paragraph p {
    font-family: RubikReg;
    line-height: 55px;
}

.featured-post-history-title {
    font-family: RubikBold;
    margin-top: 105px;
}

.history-paragraph {
    margin-top: 44px;
}

.history-paragraph p {
    font-family: RubikReg;
    line-height: 55px;
}