body {
    background-color: #EFEFEF;
}

.container {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 2.0em 5.0em;
    background-color: #EFEFEF;
}

.home-body-section img {
    width: 803px;
    margin: 0 auto;
}

.post-image img {
    width: 350px;
    height: 350px;
}

.back-page-button {
    background-color: #002C5F;
    height: 70px;
    width: 306px;
    padding-top: 18px;
    margin-top: 125px;
}

.next-page-button {
    background-color: #002C5F;
    height: 70px;
    width: 306px;
    margin-left: 975px;
    padding-top: 18px;
    margin-top: 125px;
}

.title-underline {
    width: 11%;
    border-bottom: #002C5F 3px solid;
    margin: 0 auto;
}

.post-image img {
    width: 350px;
    height: 350px;
}

#map {
    height: 400px;
    width: 100%;
    background-color: #D59F0F;
}