

.next-buttons-section {
    display: flex;
    flex-flow: row nowrap;
}

.back-page-button {
    background-color: #002C5F;
    height: 70px;
    width: 306px;
    padding-top: 18px;
    margin-top: 125px;
}

.back-page-button a {
    color: white;
    font-family: RubikReg;
    font-size: 27px;
    text-decoration: none;
}

.next-page-button {
    background-color: #002C5F;
    height: 70px;
    width: 306px;
    margin-left: 975px;
    padding-top: 18px;
    margin-top: 125px;
}

.next-page-button a {
    color: white;
    font-family: RubikReg;
    font-size: 27px;
    text-decoration: none;
}