.copyright {
    background-color: #002C5F;
    width: 1536px;
    height: 45px;
    margin-top: 490px;
}

.copyright p {
    color: white;
    font-family: MulishRegular;
    font-size: 15px;
    margin-left: 580px;
    padding-top: 12px;
}