.hero-section {
    background-image: url("../images/indy-history.jpg");
    width: 100%;
    height: 800px;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
}

.hero-about-section {
    background-image: url("../images/1960s\ racing.png");
    width: 100%;
    height: 800px;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
}

.hero-explore-section {
    background-image: url("../images/greenway.jpg");
    width: 100%;
    height: 800px;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
}

.hero-explore-two-section {
    background-image: url("../images/ball-gardens.jpg");
    width: 100%;
    height: 800px;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
}

.hero-explore-three-section {
    background-image: url("../images/old_statehouse_pics_033_72dpi_3750P_sepia.jpg");
    width: 100%;
    height: 800px;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
}

.hero-explore-four-section {
    background-image: url("../images/Indianapolis-500-1911-race-2.jpg");
    width: 100%;
    height: 800px;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
}

.hero-explore-five-section {
    background-image: url("../images/lincoln-funeral-car-loc.jpg");
    width: 100%;
    height: 800px;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
}

.hero-explore-six-section {
    background-image: url("../images/al-greens.jpg");
    width: 100%;
    height: 800px;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
}

.hero-explore-seven-section {
    background-image: url("../images/Bicentennial-Photo.webp");
    width: 100%;
    height: 800px;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
}

.hero-explore-eight-section {
    background-image: url("../images/Circle_Park_Before_Construction_of_the_Soldiers_and_Sailors_Monument-880x700.jpg");
    width: 100%;
    height: 800px;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
}

.hero-explore-nine-section {
    background-image: url("../images/protest-indianapolis.avif");
    width: 100%;
    height: 800px;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
}

.hero-explore-ten-section {
    background-image: url("../images/Graphic_scene_of_Indianapolis_in_1820_cabin_in_the_woods_Bass_-880x440.jpg");
    width: 100%;
    height: 800px;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
}

.hero-explore-eleven-section {
    background-image: url("../images/black-history-month-indiana-avenue_47184b078aa3b687f5f608d9ac7af3e4.jpg");
    width: 100%;
    height: 800px;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
}

.hero-explore-twelve-section {
    background-image: url("../images/Interior-of-Glendale.jpg");
    width: 100%;
    height: 800px;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
}

.hero-questions-section {
    background-image: url("../images/34th-St.jpg");
    width: 100%;
    height: 800px;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
}