.enter-your-question-section {
    margin-top: 55px;
}

.enter-your-question-title {
    font-family: RubikBold;
}

.questions-list-section {
    margin-top: 155px;
}

.questions-list-title {
    font-family: RubikBold;
}

.questionstemplate {
    background-color: #f8f8ff;
    margin-bottom: 55px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    text-align: center;
}

.questionstemplate img {
    height: 50px;
    width: 50px;
}

