.container {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 2.0em 5.0em;
    background-color: #EFEFEF;
}

.home-body-section img {
    width: 803px;
    margin: 0 auto;
}

.post-image img {
    width: 350px;
    height: 350px;
}

