.hero-section {
    background-image: url("../images/indy-history.jpg");
    width: 100%;
    height: 800px;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
}

.hero-about-section {
    background-image: url("../images/1960s\ racing.png");
    width: 100%;
    height: 800px;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
}

.hero-explore-section {
    background-image: url("../images/greenway.jpg");
    width: 100%;
    height: 800px;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
}