nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: #002C5F;
    height: 110px;
}

nav a {
    font-size: 25px;
    font-family: RubikReg;
    text-decoration: none;
    color: white;
}

nav a:hover {
    color: #D59F0F;
}